<?xml version="1.0" encoding="utf-8"?>

<nlog xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xsi:schemaLocation="">

    <targets>
        <!--File-->
        <target
                xsi:type="File"
                name="logfile"
                fileName="logs/${date:format=yyyy-MM-dd}.log"
                archiveOldFileOnStartup="true"
                layout="${date:format=yyyy-MM-dd HH\:mm\:ss}|${level:uppercase=true}| ${message:exceptionSeparator=\r\n:withException=true}"/>
        <!--Console-->
        <target
                xsi:type="ColoredConsole"
                name="logconsole"
                layout="${date:format=yyyy-MM-dd HH\:mm\:ss}|${level:uppercase=true}| ${message}">
            <highlight-row condition="level == LogLevel.Fatal" foregroundColor="Red"/>
            <highlight-row condition="level == LogLevel.Error" foregroundColor="Red"/>
            <highlight-row condition="level == LogLevel.Warn" foregroundColor="DarkYellow"/>
            <highlight-row condition="level == LogLevel.Info" foregroundColor="Yellow"/>
            <highlight-row condition="level == LogLevel.Debug" foregroundColor="White"/>
            <highlight-row condition="level == LogLevel.Trace" foregroundColor="Gray"/>
        </target>

    </targets>

    <rules>
        <!--Errors and above to file-->
        <logger name="*" minlevel="Error" writeTo="logfile"/>

        <!--Info and above to console-->
        <logger name="*" minlevel="Info" writeTo="logconsole"/>
    </rules>
</nlog>